.container {
  text-align: center;
  padding: 20px;
  max-width: 600px; 
  margin: auto; 
}

.title {
  margin-bottom: 20px;
  font-size: 2em; 
}

.titleLine {
  border-top: 3px solid #4CAF50; 
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px;
}

.link {
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white; 
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.link:hover {
  background-color: #45a049; 
}

.introText {
  margin-bottom: 20px;
  font-size: 1em; 
  color: #333; 
}

.clubLit {
  color: #4CAF50; 
  font-style: italic; 
  font-weight: bold; 
}