/* frontend/src/styles/navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0; /* Make sure it starts from the very left */
  right: 0; /* Make sure it extends to the very right */
  padding: 10px 0;
  z-index: 100;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; /* This will force the ul to take the full width of its parent */
  max-width: 960px; /* Center content for large screens */
  display: flex;
  justify-content: space-around; /* This will distribute space around items evenly */
  align-items: center;
}

.navItem {
  padding: 0 10px; /* Provide some spacing between items */
}

.activeLink {
  color: #007bff;
  text-decoration: underline;
}
